/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
	margin-top: 80px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
	max-width: 1090px;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

.div-container{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: start; /*Empêche la redistribution de l'espace entre les boutons */
	justify-content: center; /* Centre tous les enfants */
	margin: 35px auto;
}

.div-container > * {
	padding: 10px 20px;
	border: 1px solid #1D6154;
	border-radius: 25px;
	font-family: 'Syne';
	color: #1D6154;
	cursor: pointer;
	margin: 5px;
}

.div-container > *:hover{
	background-color: #1D6154;
	color: white;
}

.div-container > .active { /* Style bouton actif */
    background-color: #1D6154;
    color: white;
}

.gallery {
	margin: auto;
	width: 90%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

/* Annule la mise en forme par défaut des liens */
header a {
    text-decoration: none;
    color: inherit;
}



/*  PAGE LOGIN */

.login-page h2 {
    text-align: center; /* Centre le contenu horizontalement */
	margin-top: 100px; /* Ajoute de l'espace au-dessus de Log In */
}

.login-page #login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.login-page #login-form form {
    display: flex;
    flex-direction: column;
    width: 379px;
}

.login-page #login-form label {
    margin-top: 15px;
	font-family: 'Work Sans';
}

.login-page #login-form input[type="email"],
.login-page #login-form input[type="password"] {
    padding: 15px 10px;
    margin-top: 5px;
    border: 1px solid transparent;
    border-radius: 5px;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.login-page #login-form input[type="submit"] {
    margin-top: 30px;
    padding: 10px;
    font-family: 'Syne';
    color: white;
    background-color: #1D6154;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

.login-page #login-form label[for="password"] {
    margin-top: 30px; /* Augmente l'espace au-dessus de "Mot de passe" */
}

.login-page footer {
    margin-top: 320px;
	font-size: 12px;
}

.active-menu {
    font-weight: bold;
}

/* MODALE */
.modal {
	display: none; /* Invisible par défaut */
	position: fixed; /* Reste en place */
	z-index: 1; /* Place la modale au-dessus de tout */
	left: 0; /* Positionne la modale en haut à gauche */
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto; /* Ajoute scrollbar si nécessaire */
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4); /* Opacité */
}

.modal-content {
	background-color: white;
	margin: 15% auto; /* Centre la modale */
	padding: 20px;
	width: 630px;
	Height: 688px;
	border-radius: 10px;
}

.close-button {
	color: black;
	float: right;
	font-size: 28px;
	cursor: pointer;
}

h3 {
	font-family: 'Work Sans';
	font-size: 26px;
	color: black;
	text-align: center;
	margin: 40px;
}

/* Modale galerie */
.modal-gallery {
	display: flex;
	flex-wrap: wrap;
	gap: 30px 10px; /* Espacement entre les images */
	margin-left: 70px;
	margin-right: 70px;
}

.modal-gallery figure {
	position: relative;
	margin: 0;
	width: 18%;
}

.modal-gallery img {
	width: 100%;
}

.delete-icon {
	position: absolute;
	top: 5px;
	right: 5px;
	color: white;
	cursor: pointer;
	font-size: 11px;
	background-color: black;
	padding: 4px 4px;
}

.button {
	display: block;
	margin: 20px auto;
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	border: none;
	border-radius: 60px;
	cursor: pointer;
	width: 237px;
	height: 36px;
}

.divider { /* Ligne de séparation */
	width: 490px;
	border: 1px solid #B3B3B3; /* Couleur et épaisseur de la ligne */
	margin-top: 60px;
	margin-bottom: 40px;
}

/* Modale ajout photo */

.back-button i {
	font-size: 21px;
}

/* Bannière mode édition */
#edit-mode-banner {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: black;
	color: white;
	padding: 15px;
	font-family: 'Work Sans';
	font-size: 15px;
	position: fixed;
	top: 0;
	left: 250px;
	width: 71%;
	z-index: 1000;
}
#edit-mode-banner i {
	margin-right: 10px;
}


/* Section "modifier" */

.container-projets {
	display: flex; /* Active Flexbox */
	align-items: center; /* Aligne verticalement "Mes projets" et "modifier" */
	justify-content: center; /* Centre horizontalement l'ensemble */
	gap: 15px; /* Espacement entre "Mes projets" et "modifier" */
	padding-top: 60px;
	padding-bottom: 50px;
}

.edit {
	display: flex; /* Aligne l'icône et le texte */
	align-items: center;
	gap: 8px; /* Espacement entre l'icône et le texte */
	font-size: 16px;
	color: #000;
}
  
  /* Icône */
.icon {
	width: 20px;
	height: 20px;
}



















